/* ---------- RESET ---------- */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:linear-gradient(180deg,#dff7ff,#bfeeff,#e8fbff);

font-family:Georgia, serif;

overflow-x:hidden;

}

/* ---------- FOND ---------- */

.background{

min-height:100vh;

padding:60px 20px;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

/* ---------- BULLES ---------- */

.background::before{

content:"";

position:absolute;

inset:0;

background-image:

radial-gradient(circle at 20% 20%,rgba(255,255,255,.45) 2px,transparent 3px),

radial-gradient(circle at 70% 40%,rgba(255,255,255,.35) 4px,transparent 5px),

radial-gradient(circle at 35% 70%,rgba(255,255,255,.30) 3px,transparent 4px);

animation:bulles 20s linear infinite;

opacity:.7;

}

@keyframes bulles{

from{

transform:translateY(0);

}

to{

transform:translateY(-120px);

}

}

/* ---------- CARTE ---------- */

.card{

background:white;

max-width:900px;

width:100%;

border-radius:40px;

padding:60px;

box-shadow:0 30px 80px rgba(0,0,0,.15);

position:relative;

z-index:2;

}

/* ---------- TITRES ---------- */

h1{

font-size:60px;

color:#bc8b30;

text-align:center;

margin-bottom:15px;

}

h2{

font-size:48px;

text-align:center;

color:#124f8d;

}

.subtitle{

text-align:center;

margin:20px 0;

font-size:24px;

color:#4f9db7;

}

.baby{

text-align:center;

margin:40px 0;

}

.baby h3{

font-size:46px;

color:#23b4cb;

}

/* ---------- INFOS ---------- */

.infos{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:50px;

}

.infos div{

background:#f5fcff;

padding:30px;

border-radius:25px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.05);

transition:.3s;

}

.infos div:hover{

transform:translateY(-8px);

}

.infos h4{

margin:15px 0;

color:#145a82;

}

.infos p{

color:#507b91;

line-height:1.5;

}

/* ---------- MOBILE ---------- */

@media(max-width:768px){

.card{

padding:35px;

}

h1{

font-size:42px;

}

h2{

font-size:34px;

}

.baby h3{

font-size:32px;

}

.infos{

grid-template-columns:1fr;

}

}
